.spacing-btn{
    margin-right: 10px ;
    margin-bottom: 10px;
    margin-top: 10px;
}

.border-div{
    border: 1px rgb(167, 167, 167) solid;
    padding: 10px;
    border-radius: 5px;
}

.customer-div{
    margin: 10px;
}
