<h3 class="text-secondary">Post Invoices</h3>
<br />
<form [formGroup]="systemForm">
  <h5>Accounting Tools</h5>

  <input
    type="radio"
    id="tokyo"
    name="accountingSystem"
    value="tokyo"
    formControlName="accountingSystem"
    (change)="onChange($event)"
  />
  <label for="tokyo">ToKyo System</label>
  <input
    style="margin-left: 10px"
    type="radio"
    id="seoul"
    name="accountingSystem"
    value="seoul"
    formControlName="accountingSystem"
    (change)="onChange($event)"
  />
  <label for="seoul">SeOul System</label><br />
</form>
<button
  class="btn btn-primary spacing-btn"
  (click)="getPreviousDocument(currentDocument.documentId)"
>
  Previous Document
</button>
<button
  class="btn btn-primary spacing-btn"
  (click)="getNextDocument(currentDocument.documentId)"
>
  Next Document
</button>

<div style="display: flex">
  <iframe
    title="sheesh"
    style="width: 50%; height: 75vh"
    [src]="documentSrc"
  ></iframe>
  <!-- <ngx-doc-viewer
    [url]="documentData"
    viewer="office"
    style="width: 50%; height: 75vh"
  >
  </ngx-doc-viewer> -->

  <div style="width: 50%; height: 560px; overflow: auto">
    <div class="mb-4 border-div customer-div">
      <label for="customer" class="mb-1">Customer *</label>
      <select id="customer" [formControl]="customer" class="form-control">
        <option *ngFor="let cust of customerList" [ngValue]="cust.id">
          {{ cust.code }} - {{ cust.name }}
        </option>
      </select>
      <button
        *ngIf="!showAddCustomer"
        class="btn btn-primary spacing-btn"
        (click)="toggleAddCustomer()"
      >
        New Customer
      </button>
      <div *ngIf="showAddCustomer">
        <form
          [formGroup]="customerForm"
          (ngSubmit)="addNewCustomer(customerForm.value)"
        >
          <label for="name" class="mb-1">Name *</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Enter Name"
          />
          <label
            *ngIf="
              customerForm.controls['name'].touched &&
              customerForm.controls['name'].invalid
            "
            class="text-danger"
          >
            Field is required
          </label>
          <br />
          <label for="iban" class="mb-1">Iban *</label>
          <input
            id="iban"
            formControlName="iban"
            type="text"
            class="form-control"
            placeholder="Enter Iban"
          />
          <label
            *ngIf="
              customerForm.controls['iban'].touched &&
              customerForm.controls['iban'].invalid
            "
            class="text-danger"
          >
            Field is required </label
          ><br />
          <label for="code" class="mb-1">Code *</label>
          <input
            id="code"
            formControlName="code"
            type="text"
            class="form-control"
            placeholder="Enter Code"
          />
          <label
            *ngIf="
              customerForm.controls['code'].touched &&
              customerForm.controls['code'].invalid
            "
            class="text-danger"
          >
            Field is required </label
          ><br />

          <!-- This button needs to put new customer on the backend and request new list of customer to update dropdown above and also hide this div -->
          <button
            class="btn btn-primary spacing-btn"
            (click)="addNewCustomer(customerForm.value)"
            [disabled]="customerForm.invalid"
          >
            Add
          </button>
          <button
            class="btn btn-primary spacing-btn"
            (click)="toggleAddCustomer()"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
    <form
      *ngIf="invoiceForm"
      [formGroup]="invoiceForm"
      class="text-left border border-light p-5"
      (ngSubmit)="postForm()"
    >
      <div class="mb-4">
        <label for="invoiceNumber" class="mb-1">Invoice Number</label>
        <input
          id="invoiceNumber"
          formControlName="invoiceNumber"
          type="text"
          class="form-control"
          placeholder="Enter Invoice Number"
        />
        <label
          *ngIf="
            invoiceForm.controls['invoiceNumber'].touched &&
            invoiceForm.controls['invoiceNumber'].invalid
          "
          class="text-danger"
        >
          Field is required
        </label>
      </div>

      <div class="row mb-4">
        <div class="col-6">
          <label for="amount" class="mb-1">Amount</label>
          <input
            id="amount"
            formControlName="amount"
            type="number"
            class="form-control"
            placeholder="Enter Amount"
          />
          <!-- (ngModelChange)="confirmAmount()" -->
          <label
            *ngIf="
              invoiceForm.controls['amount'].touched &&
              invoiceForm.controls['amount'].invalid
            "
            class="text-danger"
          >
            Field is required
          </label>
        </div>
        <div class="col-6">
          <label for="currency" class="mb-1">Currency *</label>
          <select
            id="currency"
            formControlName="currency"
            class="form-control"
            (change)="changeCurrency($event)"
          >
            <option *ngFor="let cur of currency" [ngValue]="cur">
              {{ cur }}
            </option>
          </select>
          <label
            *ngIf="
              invoiceForm.controls['currency'].touched &&
              invoiceForm.controls['currency'].invalid
            "
            class="text-danger"
          >
            Field cannot is required
          </label>
        </div>
      </div>

      <div class="mb-4">
        <label for="transactionDate" class="mb-1">Transaction Date *</label>
        <input
          id="transactionDate"
          formControlName="transactionDate"
          type="date"
          class="form-control"
          placeholder="Enter transactionDate"
        />
        <label
          *ngIf="
            invoiceForm.controls['transactionDate'].touched &&
            invoiceForm.controls['transactionDate'].invalid &&
            invoiceForm.controls['transactionDate'].errors.required
          "
          class="text-danger"
        >
          Field is required
        </label>
      </div>

      <div class="mb-4">
        <label for="invoiceDescription" class="mb-1">Invoice Description</label>
        <input
          id="invoiceDescription"
          formControlName="invoiceDescription"
          type="text"
          class="form-control"
          placeholder="Enter Invoice Description"
        />
        <label
          *ngIf="
            invoiceForm.controls['invoiceDescription'].touched &&
            invoiceForm.controls['invoiceDescription'].invalid
          "
          class="text-danger"
        >
          Field is required
        </label>
      </div>

      <div formArrayName="invoiceLines">
        <div
          *ngFor="
            let invoiceLinesGroup of invoiceLines?.controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <h5 id="id">Line {{ i + 1 }}</h5>

          <div class="border-div">
            <div class="row mb-4">
              <div class="col-6">
                <label for="accountCode" class="mb-1">Account Code *</label>
                <input
                  id="accountCode"
                  formControlName="accountCode"
                  type="text"
                  class="form-control"
                  placeholder="Enter accountCode"
                />
              </div>
              <div class="col-6">
                <ng-container
                  *ngIf="
                    systemForm.controls['accountingSystem'].value === 'tokyo'
                  "
                >
                  <label for="costCenter" class="mb-1">Cost Center</label>
                  <input
                    id="costCenter"
                    formControlName="costCenter"
                    type="text"
                    class="form-control"
                    placeholder="Enter costCenter"
                  />
                </ng-container>
                <ng-container
                  *ngIf="
                    systemForm.controls['accountingSystem'].value === 'seoul'
                  "
                  ><label for="item" class="mb-1">Item</label>
                  <input
                    id="item"
                    formControlName="item"
                    type="text"
                    class="form-control"
                    placeholder="Enter item"
                /></ng-container>
              </div>
            </div>
            <ng-container
              *ngIf="systemForm.controls['accountingSystem'].value === 'seoul'"
            >
              <div class="row mb-4">
                <div class="col-6">
                  <label for="location" class="mb-1">Location</label>
                  <input
                    id="location"
                    formControlName="location"
                    type="text"
                    class="form-control"
                    placeholder="Enter location"
                  />
                </div>
                <div class="col-6">
                  <label for="department" class="mb-1">Department</label>
                  <input
                    id="department"
                    formControlName="department"
                    type="text"
                    class="form-control"
                    placeholder="Enter department"
                  />
                </div></div
            ></ng-container>

            <div class="row mb-4">
              <ng-container
                *ngIf="
                  systemForm.controls['accountingSystem'].value === 'tokyo'
                "
              >
                <div class="col-6">
                  <label for="amount" class="mb-1">Amount *</label>
                  <input
                    id="amount"
                    formControlName="amount"
                    type="number"
                    class="form-control"
                    placeholder="Enter amount"
                    (ngModelChange)="vatValueCalculation($event, i)"
                  />
                </div>
              </ng-container>
              <ng-container
                *ngIf="
                  systemForm.controls['accountingSystem'].value === 'seoul'
                "
              >
                <div class="col-4">
                  <label for="unitPrice" class="mb-1">Unit Price *</label>
                  <input
                    id="unitPrice"
                    formControlName="unitPrice"
                    type="number"
                    class="form-control"
                    placeholder="Enter unitPrice"
                    (ngModelChange)="vatValueCalculation($event, i)"
                  />
                </div>
                <div class="col-4">
                  <label for="quantity" class="mb-1">Quantity *</label>
                  <input
                    id="quantity"
                    formControlName="quantity"
                    type="number"
                    class="form-control"
                    placeholder="Enter quantity"
                    (ngModelChange)="vatValueCalculation($event, i)"
                  />
                </div>
              </ng-container>
              <div
                [ngClass]="
                  systemForm.controls['accountingSystem'].value === 'tokyo'
                    ? 'col-6'
                    : 'col-4'
                "
              >
                <label for="vat" class="mb-1">VAT *</label>
                <select
                  id="vat"
                  formControlName="vat"
                  class="form-control"
                  (ngModelChange)="vatValueCalculation($event, i)"
                >
                  <option *ngFor="let v of vat" [ngValue]="v.percentage">
                    {{ v.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6">
                <label for="vatAmount" class="mb-1">Vat Amount</label>
                <input
                  id="vatAmount"
                  formControlName="vatAmount"
                  type="text"
                  class="form-control"
                  placeholder="VAT %"
                  disabled
                />
              </div>
              <div class="col-6">
                <label for="description" class="mb-1">Description</label>
                <input
                  id="description"
                  formControlName="description"
                  type="text"
                  class="form-control"
                  placeholder="Enter description"
                />
              </div>
            </div>
            <button
              class="btn btn-primary spacing-btn"
              (click)="removeCurrentInvoiceLine(i)"
            >
              -
            </button>
          </div>
        </div>
        <button
          class="btn btn-primary spacing-btn"
          (click)="addNewInvoiceLine()"
        >
          +
        </button>
      </div>
     <!--  <div class="text-danger" *ngIf="!confirmValue">
        Total amount is different from the amount in the lines
      </div> -->
      <button
        type="submit"
        class="btn btn-primary spacing-btn"
        (click)="postForm()"
        [disabled]="invoiceForm.invalid"
      >
        POST
      </button>
      <button 
        type="button" 
        class="btn btn-primary spacing-btn"
        (click)="rejectForm()"
      >
        REJECT
      </button>
      <button
        type="button"
        class="btn btn-primary spacing-btn"
        (click)="saveForm()"
      >
        SAVE
      </button>
    </form>
  </div>
</div>